<!DOCTYPE html>
<html>
<!-- stock head file that contains all pages metadata-->
<head>
 <%-include ('head.ejs') -%> 
 <link rel="stylesheet" href="/static/styles/browse.css" />
</head>
<body>
  <header>
    <%-include ('header.ejs') -%>
  </header>
  <div class="content-container">
    <div class="row">
    </div>
    Total: <%= cart.total %>
    <br>
    <button type="button" class="btn btn-secondary"><a href="/checkout">Checkout</a></button>
  </div>
  <footer class="container-fluid text-center">
    <%-include ('footer.ejs') -%>
  </footer>
  </body>
</html>
