<form action="validate" method="GET">
    Street 1 <input type="text" name="street1"/><br>
    Street 2 <input type="text" name="street2"/><br>
    City <input type="text" name="city"/><br>
    State <input type="text" name="state"><br>
    Zip Code <input type="number" name="zipcode"/><br>
    <input type="submit" value="Submit"/>
</form>