<!DOCTYPE html>
<html>
<!-- stock head file that contains all pages metadata-->
<head>
 <%-include ('head.ejs') -%> 
 <link rel="stylesheet" href="/static/styles/browse.css" />
</head>
<body>
  <header>
    <%-include ('header.ejs') -%>
  </header>
  <div class="content-container">
    Your address is wrong. <a href="javascript:history.back()">Go back</a> and correct your address. 
  </div>
  <footer class="container-fluid text-center">
    <%-include ('footer.ejs') -%>
  </footer>
  </body>
</html>
