<!-- stock head file that contains all pages metadata-->
    <title>COSC4351 Bartholome-Le-Habib Ecommerce Store</title>
    <meta charset="utf-8">
    <!--Automatically re-adjusts view based on device dimensions-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Loading CSS from Bootstrap CDN-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<style> 
 /* BEGIN PRODUCT CARD STYLE*/
.product-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: Sans-Serif;
}

.price {
  color: grey;
  font-size: 22px;
}

.product-card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.product-card button:hover {
  opacity: 0.;
}
/*END PRODUCT CARD STYLE*/
</style> 
 