<!DOCTYPE html>
<html>
<!-- stock head file that contains all pages metadata-->
<head>
 <%-include ('head.ejs') -%> 
 <link rel="stylesheet" href="/static/styles/home.css" />
</head>
<body class="bg-light">
  <header>
    <%-include ('header.ejs') -%>
  </header>
  <div class="jumbotron jumbotron-fluid text-center">
    <div class ="container">
    <h1 class="display-2">Swag Store</h1>
    <span class ="fas fa-glasses fa-4x"></span> 
    <p class="lead"><strong>Put some swagger in your stride</strong></p>
    </div>
  </div>
  <footer class="container-fluid text-center">
    <%-include ('footer.ejs') -%>
  </footer>
  </body>
</html>
