<!DOCTYPE html>
<html>
<!-- stock head file that contains all pages metadata-->
<head>
 <%-include ('head.ejs') -%> 
 <link rel="stylesheet" href="/static/styles/browse.css" />
</head>
<body>
  <header>
    <%-include ('header.ejs') -%>
  </header>
  <div class="content-container">
    Order Completed. Click <a href="/">here</a> to go back to home page 
  </div>
  <footer class="container-fluid text-center">
    <%-include ('footer.ejs') -%>
  </footer>
  </body>
</html>
