#address-feedback-incorrect {
  border-color: #d60000;
  background: #ff7a7a;
}

#address-feedback-correct {
  border-color: green;
  background: lightgreen;
}

.address-feedback {
  margin-left: 15px;
  margin-bottom: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid;
}
