/* General layout styles */
.jumbotron {
  background: url("/static/images/homepage_image.jpg") fixed center no-repeat;
  background-size: cover;
  color: #fff;
  position: fixed;
  width: 100%;
  height: 100%;
  padding-top: 200px;
}
